.educar_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1200px;
    padding: 50px;
}

.img_educar{
    width: 600px;
    max-width: 100%;
    height: auto;
    transition: 0.3s ease;
    border-radius: 5px;
}

.img_educar:hover{
    transform: scale(1.02);
}

.desc_educar {
    padding: 20px;
    background-color: #233554;
    text-align: end;
    width: 500px;
    max-width: 100%;
}

.desc_educar h2{
    margin: 0px;
}

.desc_educar a:hover{
    color: #64ffda;
}