.proy_colaborativo{
    max-width: 1300px;
    height: 50px;
    display: flex;
    margin: auto;
    justify-content: left;
}
.proy_colaborativo h2{
    text-align: left;
    letter-spacing: 0.125rem;
    margin: 10px;
    text-decoration: underline;
}
.educar_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1300px;
    padding: 30px;
}

.img_educar{
    width: 630px;
    max-width: 100%;
    height: auto;
    transition: 0.3s ease;
    border-radius: 5px;
}

.img_educar:hover{
    transform: scale(1.02);
}

.desc_educar {
    padding: 20px;
    background-color: #233554;
    text-align: end;
    width: 500px;
    max-width: 100%;
    letter-spacing: 0.125rem;
    line-height: 1.375;
}

.desc_educar h2{
    margin: 0px;
}

.desc_educar a:hover{
    color: #64ffda;
}