.contenedor_proyectos{
    max-width: 1300px;
    margin: auto;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.titulo_proyectos {
    text-align: center;
    font-size: 44px;
    text-decoration: underline;
    letter-spacing: 0.125rem;
    margin: 10px;
    padding-bottom: 25px;
  }