body {
  margin: 0%;
}

#root {
  overflow: hidden;
}

.lenguajes {
  display: none;
}

.lenguajes button {
  width: 52px;
  height: 26px;
  border: 1px solid #64ffda;
  border-radius: 18px;
  background-color: #F7F7F7;
  color: #020c1b;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.lenguajes button:hover {
  background-color: #233554;
  color: #F7F7F7;
}

.modo-light .LinksMedia button{
  border-color: orangered;
}


.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #fff;
  margin: auto;
  padding: 20px;
}

.btn:hover {
  color: #64ffda;
}

.btn:focus {
  outline: none;
}

.btn .fa-circle-half-stroke {
  margin-right: 0.5rem;
}

.modo-light .btn {
  color: #474747;
}

.modo-light .btn:hover {
  color: orangered;
}


.modo-navy{
  background-color: #020c1b;
  color: #fff;
}

.modo-light{
  background-color: #F7F7F7;
  color: #474747;
}

.modo-light a{
  color: #474747;
}

.modo-navy a{
  color: #fff;
}

.modo-navy .tarjeta_proyectos a:hover{
  color: #64ffda;
}

.modo-light .tarjeta_proyectos{
  background-color: white;
}

.modo-light .desc_educar{
  background-color: white;
}

.modo-navy .tarjeta_proyectos p:hover {
  color: #64ffda;
}

.modo-light .tarjeta_proyectos p:hover {
  color: orangered;
}

.modo-light .tarjeta_proyectos a:hover{
  color: orangered;
}

.modo-light .LinksMedia .linea-vertical{
  background-color: orangered;
}

.modo-light .divider{
  color: orangered;
}

@media (max-width: 1450px){
  .lenguajes{
    display: block;
    display: flex;
    justify-content: center;
    gap: 22px;
    margin: 10px;
    padding: 4px;
  }
}