body {
  margin: 0%;
}

#root {
  overflow: hidden;
}

.modo-light .LinksMedia button {
  border-color: orangered;
}

.modo-light .educar_container a i:hover {
  color: orangered;
}

.modo-light .desc_educar a:hover {
  color: orangered;
}

.modo-light .reciclame_container a i:hover {
  color: orangered;
}

.modo-light .desc_reciclame a:hover {
  color: orangered;
}


.modo-navy {
  background-color: #020c1b;
  color: #fff;
}

.modo-light {
  background-color: #F7F7F7;
  color: #474747;
}

.modo-light a {
  color: #474747;
}

.modo-light a i:hover {
  color: orangered;
}

.modo-navy a {
  color: #fff;
}

.modo-navy .tarjeta_proyectos a:hover {
  color: #64ffda;
}

.modo-light .tarjeta_proyectos {
  background-color: white;
}

.modo-light .desc_educar {
  background-color: white;
}

.modo-light .desc_reciclame {
  background-color: white;
}

.modo-navy .tarjeta_proyectos p:hover {
  color: #64ffda;
}

.modo-light .tarjeta_proyectos p:hover {
  color: orangered;
}

.modo-light .tarjeta_proyectos a:hover {
  color: orangered;
}

.modo-light .LinksMedia .linea-vertical {
  background-color: orangered;
}

.modo-light .divider {
  color: orangered;
}

.modo-light .btn_menu {
  color: #474747;
}


@media (max-width: 1450px) {
  .btn_light {
    display: none;
  }
}